<div class="modal-header">
    <h2>Enter transition parameters:</h2>
</div>
<div class="modal-body">
    <form id="transForm" >
        <div class="form-group" ng-repeat="(description, param) in tvm.params"
             ng-class="{ 'has-error' : transFieldForm.{{description}}.$invalid }">
            <ng-form name="regularForm">
                <label>{{description}}</label>
                <p>({{param.type}})</p>
                <input type="text"
                       class="form-control"
                       name="{{description}}"
                       ng-model="output[description]">
            </ng-form>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="tvm.close(output)">Accept</button>
    <button class="btn btn-danger" ng-click="$dismiss()">Cancel</button>
</div>