<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><b>Rebel</b> Specification Viewer</title>


    <script src="lib/external/jquery-1.12.0.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.1.1.js"></script>-->

    <!--Original scripts-->
    <script src="lib/external/d3.v3.min.js" charset="utf-8"></script>
    <script src="lib/external/dagre-d3.js"></script>
    <!--<script src="lib/external/micromarkdown.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tipsy/1.0.3/jquery.tipsy.js"></script>
    <script src="lib/external/tipsy.js"></script>


    <!--<script src="specifications.js"></script>-->

    <!--angular scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js" data-require="angular.js@1.5.x"
            data-semver="1.5.8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.js"></script>
    <!--<script src="https://cdn.rawgit.com/AngularClass/angular-websocket/v2.0.0/dist/angular-websocket.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--Angular application-->
    <script src="application.js"></script>
    <script src="specSelect.js"></script>

    <!--CSS-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/external/tipsy.css">




    <!--Graph specific (colouring)-->
    <!--<script src="css/colour.js"></script>-->
    <link rel="stylesheet/less" href="css/graph.less">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js"></script>
    <link rel="stylesheet/css" href="css/the-guide-styles-responsive.css">
</head>

<body ng-app="visualApp" ng-controller="specCtrl as vm" grph class="tg">
<tg-full-cover color="b" aria-labelledby="form-title" arrow="true">
    <div class="col-md-10">
        <h2 class="brandbar-title">Interactive Specification Visualiser</h2>
        <!--<p>Params: {{vm.params}}</p>-->
        <form name="selectionForm" class="form-vertical">
            <div class="form-group">
                <label for="specSelect">Select specification:</label>
                <!--ng-options="spec.name for spec in vm.specs"-->
                <select name="specSelect" id="specSelect"
                        ng-options="specName for specName in vm.specNames"
                        ng-model="vm.selectedSpec"
                        ng-change="vm.showSpec()"></select>
                <button ng-click="vm.showSpec()">Show</button>
                <button ng-click="vm.startSpec()" ng-disabled="true">Start action</button>
            </div>
        </form>
    </div>
</tg-full-cover>



<tg-full-cover color="b" aria-labelledby="devmode-title" arrow="true">
    <div class="col-md-2" id="devdiv">
        <div class="pull-right">
            <label for="devmode"><span>Dev </span>
                <input id="devmode" class="pull-right" type="checkbox" ng-model="vm.devmode">
            </label>
        </div>
        <div ng-show="vm.devmode">
            <p>Graph w, h: {{vm.w|number:1}}, {{vm.h|number:1}}</p>
            <select name="interpolSelect" id="interpolSelect"
                    ng-options="ip for ip in vm.interpolOptions"
                    ng-model="vm.interpol"
                    ng-change="vm.showSpec()"></select>
            <button ng-click="vm.apitest()">Test API (GET)</button>
        </div>
        <div ng-show="vm.devmode">
            {{vm.previousState}}
            <p>Previous state:</p>
            <p ng-repeat="state in vm.previousState track by $index">{{state}}</p>
            <hr>
            {{vm.availableEvent}}
            <p>Available events:</p>
            <p ng-repeat="event in vm.availableEvent">{{event}}</p>
            <hr>
        </div>
    </div>
    <!--{{vm.specs | json}}-->
</tg-full-cover>

<tg-full-cover color="b" aria-labelledby="visual-title">
    <div class="col-md-12" id="visualisation">
        <div id="svg" class="col-md-12">
            <svg id="graph" xmlns="http://www.w3.org/2000/svg" width="{{vm.w}}"
                 height="{{vm.h}}" viewBox="0 0 {{vm.w}} {{vm.h}}" preserveAspectRatio="true">
                <g/> <!--vziw doet dit niets. SVG attribuut , geen idee: viewBox="0 0 10 200"-->
            </svg>
        </div>
    </div>
</tg-full-cover>
</body>
</html>

<style>
    .modal {
        display: block;
    }

    .cluster
</style>
<!--http://jsfiddle.net/FFxZ3/6/-->
<!-- THIS is for jqueryuitooltip
<script>
    $(document).ready(function () {
        console.log("dbg: doc ready");
        $(document).tooltip({
            // dbg: if I leave the content out, I get the tooltip contents at the right place, but unformatted.
            // if I add this content, it is styled HTML, but static, and in the wrong position
            // also, I still get one example of it in the top right of my html file.
            //#1: static content
//            content: "<h1>Awesome</h1> content",
            //#2: function content. Does not work. With return $("title") it returns the html title
//            content: function () {
//                console.log('content function');
//                console.log($(this));
//                return $(this).prop('title');
//            },
            track: false,
            position: {
                my: "left top+20 center", at: "right center"
            }
        });
    });
</script>-->
