<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rebel Specification Viewer</title>
    <script src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>

    <!--Original scripts-->
    <script src="lib/external/d3.v3.min.js" charset="utf-8"></script>
    <script src="lib/external/dagre-d3.js"></script>
    <!--<script src="lib/external/micromarkdown.js"></script>-->
    <!--<script src="lib/external/tipsy.js"></script>-->


    <script src="specifications.js"></script>

    <!--angular scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js" data-require="angular.js@1.5.x"
            data-semver="1.5.8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.js"></script>
    <!--<script src="https://cdn.rawgit.com/AngularClass/angular-websocket/v2.0.0/dist/angular-websocket.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--Angular application-->
    <script src="application.js"></script>
    <script src="specSelect.js"></script>
    <script src="renderer.js"></script>

    <!--CSS-->
    <!--<link rel="stylesheet" href="lib/layout.css">-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="lib/external/reset.css">-->
    <!--<link rel="stylesheet" href="lib/external/tipsy.css">-->

    <!--<link rel="stylesheet" href="lib/graph.css">-->
    <link rel="stylesheet/less" href="lib/graph.less">
    <script>
        less = {
            env: "development"
        };
        function changeColor(color) {
            switch (color) {
                case 'dev':
                    less.modifyVars({
                        '@dash': 'gray',
                        '@black': 'black',
                        '@text': 'black',
                        '@edgeNode': 'white',
                        '@background': 'pink',
                        '@external': 'lightgray',
                        '@graphTitle': 'green',
                        '@fieldsBox': 'gray',
                        '@fieldsText': 'lightblue',
                        '@uncertain': 'magenta',
                        '@uncertain2': 'yellow'
                    });
                    break;
                default: {
                    less.modifyVars({
                        '@dash': 'gray',
                        '@black': 'black',
                        '@text': 'black',
                        '@edgeNode': 'white',
                        '@background': 'white',
                        '@external': 'lightgray',
                        '@graphTitle': 'black',
                        '@fieldsBox': 'lightgray',
                        '@fieldsText': 'black',
                        '@uncertain': 'magenta',
                        '@uncertain2': 'yellow'
                    });
                }
            }

        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js"></script>
</head>

<body ng-app="visualApp" ng-controller="specCtrl as vm" grph>
<div class="col-md-12">
    <span class="pull-right"><a href="javascript: changeColor('dev');">
        <i class="glyphicon glyphicon-cog"></i></a>
    </span>
    <h1>Interactive Specification Visualiser</h1>
    <!--<p>Params: {{vm.params}}</p>-->

    <form name="selectionForm" class="form-vertical">
        <div class="form-group">
            <label for="specSelect">Select specification:</label>
            <select name="specSelect" id="specSelect"
                    ng-options="spec.name for spec in vm.specs"
                    ng-model="vm.selectedSpec"
                    ng-change="vm.showSpec()"></select>

            <!--{{vm.selectedSpec.name}}-->
            <button ng-click="vm.showSpec()">Show</button>
        </div>
    </form>
    <!--{{vm.w}}, {{vm.h}}-->
</div>

<div id="x" class="col-md-12">
    <!--<h2>Visualisation</h2>-->
    <!--<p>{{vm.lipsum}}</p>-->
    <!--<div id="leftfields" class="col-md-1">-->
    <!--<h2>Left</h2>-->
    <!--{{vm.specData}}-->
    <!--</div>-->
    <!--<div id="rightfields" class="col-md-1">-->
    <!--<h2>Right</h2>-->
    <!--</div>-->
    <div id="viz" class="col-md-12">
        <svg id="graph" xmlns="http://www.w3.org/2000/svg" width="{{vm.w}}"
             height="{{vm.h}}" viewBox="0 0 {{vm.w}} {{vm.h}}" preserveAspectRatio="true">
            <g/> <!--vziw doet dit niets. SVG attribuut , geen idee: viewBox="0 0 10 200"-->
        </svg>
    </div>

</div>


</body>
</html>

<style>
    .modal {
        display: block;
    }

    .cluster
</style>

